*{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    box-shadow: 30px 31px 19px -3px black,0px 10px 15px -3px rgba(0,0,0,0.1);
}
body{
    
    background-color: #DCDCDC	;
   
}
h1{
    font-size: 50px;
   
}
nav img{
    width: 80px;
    height: 80px;
}
.container{
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha quando necessário */
    justify-content: space-between;
    background-color: #6495ED;
    padding-top: 30px;
    padding-bottom: 10px;
}
section img{
    width: 400px;   
    border-radius: 50%;
   
}

.text-section{
    margin-left: 150px;
    margin-top: 100px;
}
.text-section .dinamico{
    margin-left: 150px;
    margin-top: 100px;
}
section h2 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 60px;
}
section h3{
    font-size: 65px;
}


.apresentacao{
    display: flex;
    
    font-size: 35px;
    margin: 10px;
    padding: 10px;
}
.img-casa{
    width: 500px;
    height: 470px;
    border-radius: 5px;
}
.apresentacao-dois{
    display: flex;  
    margin: 10px;
    
}
.apresentacao-dois p{
    padding: 10px;
    font-size: 38px;
}
.apresentacao-tres{
    display: flex; 
    margin: 10px;   
}
.apresentacao-tres p{
    padding: 10px;
    font-size: 38px;
}
.apresentacao-quatro{
    display: flex; 
    margin: 10px;   
}
.apresentacao-quatro p{
    padding: 10px;
    font-size: 38px;
}
.apresentacao-cinco{
    display: flex; 
    margin: 30px;   
}
.apresentacao-cinco p{
    padding: 10px;
    font-size: 20px;
}
.sliders {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    overflow: hidden; 
   margin-bottom: 100px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 400px;
    margin-bottom: 100px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 3px solid #000;
    transition: 1s;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
 margin-right: 30px;
}

.manual-btn:hover {
    background-color: #6495ED;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 400px;
    opacity: 0;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    background-color: #fff;
}
#radio:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
footer{
    text-align: center;
    padding-bottom: 50px;
    background-color: #20a6ff;
}



@media (max-width: 1200px) {
    h1 {
        font-size: 20px;
        margin-left: 5px;
        
    }
    section{
        border-radius: 5px;
    }

    nav img {
        margin-right: 4px;
        width: 30px;
        height: 30px;
        
    }
    section img{
        width:100%;
        
    }
    .text-section{
        margin-left: 0;
        margin-top: 0;
    }

    section h2 {
        text-align: left;
        font-size: 20px;
    
        margin-top: 0;
        
    }

    section h3 {
        font-size: 25px;
        margin-left: 30px;
        
    }

    .apresentacao {
        font-size: 12px;
    }

    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 12px;
    }

    .apresentacao-cinco p {
        font-size: 13px;
    }
    .img-casa{
      width: 100px;
      height: 100px;
    }
}