* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}


.navBar {
    display: flex;
    justify-content: space-between;

}

body {

    background-color: #DCDCDC;

}

h1 {
    font-size: 50px;
    margin-left: 20px;
}

.navImg {
    margin-top: 5px;
    margin-right: 5px;
    margin-right: 20px;

}

.navMobile {
    display: none;

}

.mobileMenu {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os elementos quebrem linha quando necessário */
    justify-content: space-between;
    background-color: #6495ED;
    padding-top: 30px;
    padding-bottom: 10px;
}

section img {
    width: 400px;
    border-radius: 50%;

}

.text-section {
    margin-left: 150px;
    margin-top: 100px;
}

.text-section .dinamico {
    margin-left: 150px;
    margin-top: 100px;
}

section h2 {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 60px;
}

section h3 {
    font-size: 65px;
    margin-left: 200px;
}


.apresentacao {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    padding: 50px 400px;

}

.img-casa {
    width: 300px;
    height: 370px;
    border-radius: 5px;
}

.apresentacao-dois {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    padding: 50px 400px;

}

.apresentacao-dois p {
    padding-left: 10px;
    font-size: 25px;
}

.apresentacao-tres {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    padding: 50px 400px;

}

.apresentacao-tres p {

    font-size: 25px;
}

.apresentacao-quatro {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 10px;
    padding: 50px 400px;

}

.apresentacao-quatro p {
    padding-left: 10px;
    font-size: 25px;
}

.apresentacao-cinco {
    display: flex;
    margin: 30px;
    padding: 10px 100px;
}

.apresentacao-cinco p {
    padding: 10px;
    font-size: 20px;
}
footer{
    font-size: 30px;
}

.sliders {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    
}

.slide img {
    width: 400px;
    margin-bottom: 100px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    display: none;
    border: 3px solid #000;
    transition: 1s;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: #6495ED;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    opacity: 0;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

footer {
    text-align: center;
    padding-bottom: 50px;
    background-color: #20a6ff;
}

@media (max-width: 1515px){
    h1{
        margin-left: 20px;
        font-size: 60px;
    }
    section h2{
        font-size: 30px;
    }
    section h3{
        font-size: 40px;
        margin-left: 20px;
    }
    .navImg{
        margin-top: 20px;
        margin-right: 20px;
        padding-right: 5px;
        cursor: pointer;
        display: block;
    }
    .apresentacao {
        font-size: 25px;
        padding: 10px 250px;

    }

    .apresentacao-dois {
        padding: 10px 250px;
    }

    .apresentacao-tres {
        padding: 10px 250px;
    }

    .apresentacao-quatro {
        padding: 10px 250px;
    }
}
@media (max-width: 1196px){
    
    .apresentacao {
        font-size: 20px;
        padding: 10px 180px;

    }

    .apresentacao-dois {
        padding: 10px 180px;
    }

    .apresentacao-tres {
        padding: 10px 180px;
    }

    .apresentacao-quatro {
        padding: 10px 180px;
    }

    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 20px;

    }

    .apresentacao-cinco p {
        font-size: 13px;
    }

    .img-casa {
        width: 200px;
        height: 250px;
    }
}
@media (max-width: 1100px) {
    h1 {
        font-size: 35px;
        margin-left: 30px;
        margin-top: 10px;
    }

    section {
        border-radius: 5px;
    }

    .navMobile {

        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        cursor: pointer;
        display: block;

    }
   .mobileMenu{
    display: none;
   }

    .text-section {
        margin-left: 0;
        margin-top: 0;
    }

    section h2 {
        text-align: left;
        font-size: 30px;

        

    }

    section h3 {
        font-size: 40px;
        margin-left: 30px;

    }

    .apresentacao {
        font-size: 20px;
        padding: 10px 180px;

    }

    .apresentacao-dois {
        padding: 10px 180px;
    }

    .apresentacao-tres {
        padding: 10px 180px;
    }

    .apresentacao-quatro {
        padding: 10px 180px;
    }

    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 20px;

    }

    .apresentacao-cinco p {
        font-size: 13px;
    }

    .img-casa {
        width: 200px;
        height: 250px;
    }
   
}

@media (max-width: 700px) {
    .mobileMenu {
        text-align: center;
        display: block;

    }
   .navImg{
    display: none;
   }
   h1{
    text-align: center;
   }
}

@media (max-width: 425px){
    section img {
        width: 100%;

    }
    .sliders {
        width: 100%;
}
}
@media (max-width: 1024px){
    .apresentacao {
        font-size: 24px;
        padding: 20px 100px;

    }

    .apresentacao-dois {
        padding: 20px 100px;
    }

    .apresentacao-tres {
        padding: 20px 100px;
    }

    .apresentacao-quatro {
        padding: 20px 100px;
    }
    .img-casa {
        width: 300px;
        height: 350px;
    }
    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 24px;

    }
    .apresentacao-cinco p {
        font-size: 27px;
    }
}
@media (max-width: 900px){
    section img{
        width: 100%;
    }
}
@media (max-width: 850px){
    section img{
        width: 100%;
    }
    .apresentacao {
        font-size: 17px;
        padding: 10px 80px;

    }

    .apresentacao-dois {
        padding: 10px 80px;
    }

    .apresentacao-tres {
        padding: 10px 80px;
    }

    .apresentacao-quatro {
        padding: 10px 80px;
    }

    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 17px;

    }

    .apresentacao-cinco p {
        font-size: 20px;
    }

    .img-casa {
        width: 200px;
        height: 250px;
    }
}
@media (max-width: 635px) {
    .apresentacao {
        font-size: 12px;
        padding: 10px 0;
    }
    .apresentacao-dois {
        padding: 10px 0;
    }

    .apresentacao-tres {
        padding: 10px 0;
    }

    .apresentacao-quatro {
        padding: 10px 0;
    }

    .apresentacao-dois p,
    .apresentacao-tres p,
    .apresentacao-quatro p {
        font-size: 12px;
    }

    .apresentacao-cinco p {
        font-size: 13px;
    }
    .img-casa{
        width: 100px;
        height: 150px;
    }
}
