* {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}
body{   
    background-color: #fff;
}
.limiteDeLargura{
    max-width: 1200px;
    margin: 0 auto;
}
.navBar {
    display: flex;
    justify-content: space-between;
    background-color:#FFFAFA;
}



h1 {
    font-size: 50px;
    margin-left: 20px;
}

.navImg {
    margin-top: 5px;
    margin-right: 5px;
    margin-right: 20px;
}
.navImg img{
    padding-right: 10px;
}

.navMobile {
    display: none;

}

.mobileMenu {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: radial-gradient(#ADD8E6,#00BFFF);
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 5px;
}
section{
    flex: 1;
}
.section-img img {
    width: 400px;
    border-radius: 50%;
    margin-left: 0;  
    float: right;
}

.text-section {
    margin-left: 100px;
    margin-top: 20px;
   
}

section h2 {
    margin-top: 10px;
    font-size: 40px;
}

section h3 {
    font-size: 45px;
    margin-left: 20px;
}


.apresentacao {
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 10px;
    padding: 50px 100px;
    background-color:#FFFAFA;

}

.stander-casa{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: radial-gradient(#ADD8E6,#00BFFF);
    height: 500px;   
    border-radius: 5px;
    overflow: hidden;
}
.stander-casa img{  
    width: 500px;
    height: 400px;
    margin: 0 40px;
    border-radius: 10px;
}
.top-slider{
    font-size: 60px;
    text-align: center;
    margin: 20px;
}
.link-site{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 100px;
}
.link-feed{
    text-decoration: none;
    color: #000;
    font-size: 30px;
}
.link-feed:hover{
    color: #6495ED;
}
footer{
    font-size: 30px;
    margin-top: 10px;
}

.sliders {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #FFFAFA;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    
}

.slide img {
    width: 400px;
    margin-bottom: 100px;
}

.manual-navigation {
    position: absolute;
    width: 400px;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    display: none;
    border: 3px solid #000;
    transition: 1s;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: #6495ED;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 400px;
    opacity: 0;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio:checked~.navigation-auto .auto-btn4 {
    background-color: #fff;
}

footer {
    text-align: center;
    padding-bottom: 50px;
    background-color: #20a6ff;
}

/*inicio responsivo header*/
@media(max-width: 905px){
    .navImg{
        display: none;
    }
    .mobileMenu{
        display: block;
        text-align: center;
        margin: 10px;
        font-size: 40px;
    }
    h1{
        text-align: center;
    }
}
/*fim responsivo header*/
/*responsivo inicio foto cliente e texto */

@media(max-width:986px){
    .text-section  h2{
        font-size: 40px;   
    }
  .text-section  h3{
        font-size: 45px;
        margin-left: 40px;
    }   
}
@media(max-width:770px){
    .container {
        display: flex;
        flex-direction: column;
    }
   
    .section-img {
        display: flex;
        justify-content: center; /* Centralizar horizontalmente */
        align-items: center; /* Centralizar verticalmente */
    }
    .section-img img {
        width: 100%; /* Definir a largura da imagem como 100% do contêiner */
        max-width: 400px; /* Definir uma largura máxima para a imagem (opcional) */
    }
    
}

@media(max-width:440px){
    .text-section{
        margin-top: 5px;
        
    }
    .text-section  h2{
        font-size: 25px;
        padding: 10px;
    }
  .text-section  h3{
        font-size: 35px;
        margin-left: 0;    
        float: left;   
    }
    .section-img img{
        width: 100%;
    }
}
/*responsivo fim foto cliente*/
/*inicio responsivo apresentação*/
 @media(max-width:1024px){
    .apresentacao{
        font-size: 30px;
        padding: 20px 40px;
    }
}
@media(max-width:425px){
    .apresentacao{
        font-size: 25px;
        padding: 10px 10px;
    }
}
@media(max-width:375px){
    .apresentacao{
        font-size: 25px;
    }
}

/*fim responsivo apresentação*/
/*inicio responsivo imagens da casa*/

@media(max-width:1170px){
    .stander-casa img{
        width: 400px;
        height: 440px;
        margin: 0 40px;
    }
}
@media(max-width:970px){
    .stander-casa img{
        width:300px;
        height: 370px;
        margin: 0 20px;
    }
}
@media(max-width:680px){
    .stander-casa{
     
     height: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
     
    }
    .stander-casa img{
     display: flex;
     padding: 15px 0;
     width: 400px;
     height: 370px;
     
    }
}
@media(max-width:434px){
    .stander-casa img {
        width: 350px;
    }
}
@media(max-width:340px){
    .stander-casa img {
        width: 300px;
    }
}
/*fim responsivo imagens da casa*/
/*responsivo comentario embaixo do slide*/
@media(max-width:500px){
   .link-site{
    display: flex;
    flex-direction: column;
    text-align: center;
   }
}
/*responsivo comentario embaixo do slide*/

